In [343]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

In [344]:
df=pd.read_csv('fifa_players.csv')

C:\Users\rocki\AppData\Local\Temp\ipykernel_5756\672628680.py:1: DtypeWarning: Columns (4,5,19,20,21,22,23,25,26,27,28,29,31,32,33,34,35,37,38,39,40,41,43,44,45,46,47,48,50,51,52,54,55,56,57,58,76) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('fifa_players.csv')

In [345]:
df.head()

,ID,date_id,player_name,Age,Overall rating,Potential,name,Height,Weight,foot,...,Defending / Pace,Physical / Positioning,Traits,PlayStyles,PlayStyles +,Number of playstyles,date,club_name,start_year,end_year
0,239085,240034,Erling Haaland,22,91,94,Manchester City2022 ~ 2027,195,94,Left,...,45,88,NaN,Power HeaderQuick Step,Acrobatic +,3,2024-03-27,Manchester City,2022.0,2027.0
1,231747,240034,Kylian Mbappe,24,91,94,Paris Saint Germain2018 ~ 2024,182,75,Right,...,36,78,NaN,Finesse ShotRapidFlairTrivelaAcrobaticSolid Pl...,Quick Step +,7,2024-03-27,Paris Saint Germain,2018.0,2024.0
2,192985,240034,Kevin De Bruyne,32,91,91,Manchester City2015 ~ 2025,181,75,Right,...,65,78,NaN,Dead BallPinged PassLong Ball PassWhipped Cros...,Incisive Pass +,9,2024-03-27,Manchester City,2015.0,2025.0
3,231866,240034,Rodrigo Hernandez Cascante,27,90,91,Manchester City2019 ~ 2027,191,82,Right,...,86,85,NaN,Long Ball PassBruiserAerialLong Shot Taker (CP...,Power Shot +,6,2024-03-27,Manchester City,2019.0,2027.0
4,202126,240034,Harry Kane,29,90,90,FC Bayern München2023 ~ 2027,188,85,Right,...,49,83,NaN,Long Ball PassFirst TouchTrivelaLong Shot Take...,Incisive Pass +,5,2024-03-27,nchen,2023.0,2027.0

In [346]:
df.columns

Index(['ID', 'date_id', 'player_name', 'Age', 'Overall rating', 'Potential',
       'name', 'Height', 'Weight', 'foot', 'Best overall', 'Best position',
       'Growth', 'Joined', 'Loan date end', 'Value', 'Wage', 'Release clause',
       'Total attacking', 'Crossing', 'Finishing', 'Heading accuracy',
       'Short passing', 'Volleys', 'Total skill', 'Dribbling', 'Curve',
       'FK Accuracy', 'Long passing', 'Ball control', 'Total movement',
       'Acceleration', 'Sprint speed', 'Agility', 'Reactions', 'Balance',
       'Total power', 'Shot power', 'Jumping', 'Stamina', 'Strength',
       'Long shots', 'Total mentality', 'Aggression', 'Interceptions',
       'Att. Position', 'Vision', 'Penalties', 'Composure', 'Total defending',
       'Defensive awareness', 'Standing tackle', 'Sliding tackle',
       'Total goalkeeping', 'GK Diving', 'GK Handling', 'GK Kicking',
       'GK Positioning', 'GK Reflexes', 'Total stats', 'Base stats',
       'Weak foot', 'Skill moves', 'Attacking work rate',
       'Defensive work rate', 'International reputation', 'Body type',
       'Real face', 'Pace / Diving', 'Shooting / Handling',
       'Passing / Kicking', 'Dribbling / Reflexes', 'Defending / Pace',
       'Physical / Positioning', 'Traits', 'PlayStyles', 'PlayStyles +',
       'Number of playstyles', 'date', 'club_name', 'start_year', 'end_year'],
      dtype='object')

In [347]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353198 entries, 0 to 353197
Data columns (total 82 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        353198 non-null  int64
 1   date_id                   353198 non-null  int64
 2   player_name               353198 non-null  object
 3   Age                       353198 non-null  int64
 4   Overall rating            353198 non-null  object
 5   Potential                 353198 non-null  object
 6   name                      353198 non-null  object
 7   Height                    353198 non-null  int64
 8   Weight                    353198 non-null  int64
 9   foot                      353198 non-null  object
 10  Best overall              353198 non-null  int64
 11  Best position             353198 non-null  object
 12  Growth                    353198 non-null  int64
 13  Joined                    353198 non-null  object
 14  Loan date end             28471 non-null   object
 15  Value                     353198 non-null  object
 16  Wage                      353198 non-null  object
 17  Release clause            353198 non-null  object
 18  Total attacking           353198 non-null  int64
 19  Crossing                  353198 non-null  object
 20  Finishing                 353198 non-null  object
 21  Heading accuracy          353198 non-null  object
 22  Short passing             353198 non-null  object
 23  Volleys                   353198 non-null  object
 24  Total skill               353198 non-null  int64
 25  Dribbling                 353198 non-null  object
 26  Curve                     353198 non-null  object
 27  FK Accuracy               353198 non-null  object
 28  Long passing              353198 non-null  object
 29  Ball control              353198 non-null  object
 30  Total movement            353198 non-null  int64
 31  Acceleration              353198 non-null  object
 32  Sprint speed              353198 non-null  object
 33  Agility                   353198 non-null  object
 34  Reactions                 353198 non-null  object
 35  Balance                   353198 non-null  object
 36  Total power               353198 non-null  int64
 37  Shot power                353198 non-null  object
 38  Jumping                   353198 non-null  object
 39  Stamina                   353198 non-null  object
 40  Strength                  353198 non-null  object
 41  Long shots                353198 non-null  object
 42  Total mentality           353198 non-null  int64
 43  Aggression                353198 non-null  object
 44  Interceptions             353198 non-null  object
 45  Att. Position             353198 non-null  object
 46  Vision                    353198 non-null  object
 47  Penalties                 353198 non-null  object
 48  Composure                 353198 non-null  object
 49  Total defending           353198 non-null  int64
 50  Defensive awareness       353198 non-null  object
 51  Standing tackle           353198 non-null  object
 52  Sliding tackle            353198 non-null  object
 53  Total goalkeeping         353198 non-null  int64
 54  GK Diving                 353198 non-null  object
 55  GK Handling               353198 non-null  object
 56  GK Kicking                353198 non-null  object
 57  GK Positioning            353198 non-null  object
 58  GK Reflexes               353198 non-null  object
 59  Total stats               353198 non-null  int64
 60  Base stats                353198 non-null  int64
 61  Weak foot                 353198 non-null  int64
 62  Skill moves               353198 non-null  int64
 63  Attacking work rate       353198 non-null  object
 64  Defensive work rate       353198 non-null  object
 65  International reputation  353198 non-null  int64
 66  Body type                 353198 non-null  object
 67  Real face                 353198 non-null  object
 68  Pace / Diving             353198 non-null  int64
 69  Shooting / Handling       353198 non-null  int64
 70  Passing / Kicking         353198 non-null  int64
 71  Dribbling / Reflexes      353198 non-null  int64
 72  Defending / Pace          353198 non-null  int64
 73  Physical / Positioning    353198 non-null  int64
 74  Traits                    0 non-null       float64
 75  PlayStyles                188678 non-null  object
 76  PlayStyles +              1910 non-null    object
 77  Number of playstyles      353198 non-null  int64
 78  date                      353198 non-null  object
 79  club_name                 345359 non-null  object
 80  start_year                322944 non-null  float64
 81  end_year                  322944 non-null  float64
dtypes: float64(3), int64(26), object(53)
memory usage: 221.0+ MB

In [348]:
df.drop(['player_name','date_id'],axis=1,inplace=True)

In [349]:
df['Overall rating'].unique()

array(['91', '90', '89', '88', '87', '87+1', '86', '85', '85+1', '84',
       '84-1', '83', '83+2', '83-1', '82', '82+1', '82-1', '81', '81+1',
       '80+1', '80', '79', '79+1', '79-1', '78+1', '78', '78-1', '77',
       '77+1', '76', '76+2', '76-1', '76+1', '75', '75+1', '75-1', '74',
       '74+1', '73', '73+1', '73+2', '72', '72-1', '72+2', '72+1', '71',
       '71-1', '71+1', '71+2', '70', '70-1', '70+1', '70+2', '69', '69-1',
       '69+1', '69+2', '68', '68+2', '68+1', '68-1', '67', '67+3', '67+4',
       '67+1', '66', '66+2', '66+1', '66-1', '66+3', '65', '65-1', '65+1',
       '65+2', '65+3', '64', '64-1', '64+1', '64+2', '64-2', '63', '63+2',
       '63+1', '63-1', '62', '62+1', '62-1', '62+3', '62+2', '61', '61+1',
       '61-1', '61+4', '60', '60-1', '60+1', '59', '59+1', '58', '58+2',
       '58-1', '58+1', '57', '57+2', '57+1', '56', '55', '54', '54+1',
       '53', '53+1', '52', '52+1', '52+2', '51', '50', '50+2', '49', '48',
       '47', 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54,
       53, 52, 51, 50, 49, 48, 47, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82,
       81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, '88-1', '86+1',
       '86-1', '85-1', '84+1', '83+1', '80+2', '80-1', '78+3', '77-1',
       '77+2', '76-2', '75+2', '75-2', '74+2', '74-1', '74-2', '73-1',
       '73-2', '72-2', '72+3', '71-2', '70-2', '70+3', '69-2', '69+3',
       '68+8', '68-2', '67+2', '67-1', '67+8', '66-2', '65+11', '65-2',
       '64-3', '64+4', '63-2', '63+3', '63+4', '63-3', '62+10', '62-2',
       '61+5', '61+2', '61-3', '61-2', '60-2', '60+2', '60+4', '59+2',
       '59-1', '59-3', '59-2', '58-2', '57-1', '57-2', '57+3', '57+6',
       '57+4', '56+1', '56+2', '56-2', '56-1', '55-2', '55+1', '55-1',
       '54+2', '54-1', '53+2', '51+2', '50-1', '49+1', '81-1', '81+2',
       '74+3', '73+3', '68+3', '67-2', '65+4', '55+2', '53-1', '52-1',
       '51+1', '51-1', '49+2', '49-1', '47-1', '90+1', '68+19', '62+4',
       '61+3', '61+16', '61+12', '60+10', '60+11', '60+8', '59+9', '59+6',
       '58+10', '58+3', '57+7', '55-3', '55+6', '54+5', '54-2', '53+5',
       '53+3', '52+3', '49-2', '48+1', '78+2', '68+4', '64+3', '55+4',
       '50+1', '45', '59+3', '88+1', '66+4', '62+5', '53-2', '51-2',
       '50-2', '80-2', '79+2', '79+3', '78-2', '60+3', '59+5', '59+4',
       '58+4', '56+3', '56+5', '55+3', '52-2', '71+3'], dtype=object)

In [350]:
df.head()

,ID,Age,Overall rating,Potential,name,Height,Weight,foot,Best overall,Best position,...,Defending / Pace,Physical / Positioning,Traits,PlayStyles,PlayStyles +,Number of playstyles,date,club_name,start_year,end_year
0,239085,22,91,94,Manchester City2022 ~ 2027,195,94,Left,93,/players?pn=25,...,45,88,NaN,Power HeaderQuick Step,Acrobatic +,3,2024-03-27,Manchester City,2022.0,2027.0
1,231747,24,91,94,Paris Saint Germain2018 ~ 2024,182,75,Right,93,/players?pn=25,...,36,78,NaN,Finesse ShotRapidFlairTrivelaAcrobaticSolid Pl...,Quick Step +,7,2024-03-27,Paris Saint Germain,2018.0,2024.0
2,192985,32,91,91,Manchester City2015 ~ 2025,181,75,Right,91,/players?pn=14,...,65,78,NaN,Dead BallPinged PassLong Ball PassWhipped Cros...,Incisive Pass +,9,2024-03-27,Manchester City,2015.0,2025.0
3,231866,27,90,91,Manchester City2019 ~ 2027,191,82,Right,90,/players?pn=10,...,86,85,NaN,Long Ball PassBruiserAerialLong Shot Taker (CP...,Power Shot +,6,2024-03-27,Manchester City,2019.0,2027.0
4,202126,29,90,90,FC Bayern München2023 ~ 2027,188,85,Right,90,/players?pn=25,...,49,83,NaN,Long Ball PassFirst TouchTrivelaLong Shot Take...,Incisive Pass +,5,2024-03-27,nchen,2023.0,2027.0

In [351]:
df.tail()

,ID,Age,Overall rating,Potential,name,Height,Weight,foot,Best overall,Best position,...,Defending / Pace,Physical / Positioning,Traits,PlayStyles,PlayStyles +,Number of playstyles,date,club_name,start_year,end_year
353193,277344,18,47,62,Cork City2023 ~ 2028,185,75,Right,51,/players?pn=14,...,41,59,NaN,NaN,NaN,0,2024-05-07,Cork City,2023.0,2028.0
353194,272761,18,47,60,Shenzhen2022 ~ 2027,180,65,Right,49,/players?pn=5,...,50,46,NaN,NaN,NaN,0,2024-05-07,Shenzhen,2022.0,2027.0
353195,71064,17,47,60,Mumbai City2024 ~ 2027,177,70,Right,50,/players?pn=12,...,38,50,NaN,NaN,NaN,0,2024-05-07,Mumbai City,2024.0,2027.0
353196,269541,22,47,53,Zhejiang2022 ~ 2028,182,75,Right,48,/players?pn=10,...,43,51,NaN,NaN,NaN,0,2024-05-07,Zhejiang,2022.0,2028.0
353197,277493,20,47,60,NorthEast United2023 ~ 2025,165,64,Right,50,/players?pn=12,...,32,45,NaN,NaN,NaN,0,2024-05-07,NorthEast United,2023.0,2025.0

In [352]:
import numpy as np
def BaseRating(val):
    if pd.isna(val):  # handle NaN safely
        return np.nan
    val = str(val).strip()
    if '+' in val:
        base = val.split('+')[0]
    elif '-' in val:
        base = val.split('-')[0]
    else:
        base = val
    return int(base)

In [353]:
df['BaseRating']=df['Overall rating'].apply(BaseRating)

In [354]:
df['BaseRating'].isnull().sum()

np.int64(0)

In [355]:
df['BaseRating'].unique()

array([91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75,
       74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58,
       57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 45])

In [356]:

def LiveForm(val):
    if pd.isna(val):  # Handle NaN
        return 0
    val = str(val).strip()
    if '+' in val:
        return int(val.split('+')[1])
    elif '-' in val:
        return -int(val.split('-')[1])
    else:
        return 0

In [357]:
df['LiveForm']=df['Overall rating'].apply(LiveForm)

In [358]:
df['LiveForm'].unique()

array([ 0,  1, -1,  2,  3,  4, -2,  8, 11, -3, 10,  5,  6, 19, 16, 12,  9,
        7])

In [359]:
df.drop('Overall rating',axis=1,inplace=True)

In [360]:
import numpy as np
def Total(val):
    if pd.isna(val):  # handle NaN safely
        return np.nan
    val = str(val).strip()
    if '+' in val:
        base, form = val.split('+')
        return int(base)+int(form)
    elif '-' in val:
        base, change = val.split('-')
        return int(base)-int(change)
    else:
        base = val
    return int(base)

In [361]:
df['Potential']=df['Potential'].map(Total)

In [362]:
df['is_prodigy']=((df['Potential']>=90)& (df['Age']<=23)).astype(int)

In [363]:
df['is_prodigy'].value_counts()

is_prodigy
0    352956
1       242
Name: count, dtype: int64

In [364]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353198 entries, 0 to 353197
Data columns (total 82 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        353198 non-null  int64
 1   Age                       353198 non-null  int64
 2   Potential                 353198 non-null  int64
 3   name                      353198 non-null  object
 4   Height                    353198 non-null  int64
 5   Weight                    353198 non-null  int64
 6   foot                      353198 non-null  object
 7   Best overall              353198 non-null  int64
 8   Best position             353198 non-null  object
 9   Growth                    353198 non-null  int64
 10  Joined                    353198 non-null  object
 11  Loan date end             28471 non-null   object
 12  Value                     353198 non-null  object
 13  Wage                      353198 non-null  object
 14  Release clause            353198 non-null  object
 15  Total attacking           353198 non-null  int64
 16  Crossing                  353198 non-null  object
 17  Finishing                 353198 non-null  object
 18  Heading accuracy          353198 non-null  object
 19  Short passing             353198 non-null  object
 20  Volleys                   353198 non-null  object
 21  Total skill               353198 non-null  int64
 22  Dribbling                 353198 non-null  object
 23  Curve                     353198 non-null  object
 24  FK Accuracy               353198 non-null  object
 25  Long passing              353198 non-null  object
 26  Ball control              353198 non-null  object
 27  Total movement            353198 non-null  int64
 28  Acceleration              353198 non-null  object
 29  Sprint speed              353198 non-null  object
 30  Agility                   353198 non-null  object
 31  Reactions                 353198 non-null  object
 32  Balance                   353198 non-null  object
 33  Total power               353198 non-null  int64
 34  Shot power                353198 non-null  object
 35  Jumping                   353198 non-null  object
 36  Stamina                   353198 non-null  object
 37  Strength                  353198 non-null  object
 38  Long shots                353198 non-null  object
 39  Total mentality           353198 non-null  int64
 40  Aggression                353198 non-null  object
 41  Interceptions             353198 non-null  object
 42  Att. Position             353198 non-null  object
 43  Vision                    353198 non-null  object
 44  Penalties                 353198 non-null  object
 45  Composure                 353198 non-null  object
 46  Total defending           353198 non-null  int64
 47  Defensive awareness       353198 non-null  object
 48  Standing tackle           353198 non-null  object
 49  Sliding tackle            353198 non-null  object
 50  Total goalkeeping         353198 non-null  int64
 51  GK Diving                 353198 non-null  object
 52  GK Handling               353198 non-null  object
 53  GK Kicking                353198 non-null  object
 54  GK Positioning            353198 non-null  object
 55  GK Reflexes               353198 non-null  object
 56  Total stats               353198 non-null  int64
 57  Base stats                353198 non-null  int64
 58  Weak foot                 353198 non-null  int64
 59  Skill moves               353198 non-null  int64
 60  Attacking work rate       353198 non-null  object
 61  Defensive work rate       353198 non-null  object
 62  International reputation  353198 non-null  int64
 63  Body type                 353198 non-null  object
 64  Real face                 353198 non-null  object
 65  Pace / Diving             353198 non-null  int64
 66  Shooting / Handling       353198 non-null  int64
 67  Passing / Kicking         353198 non-null  int64
 68  Dribbling / Reflexes      353198 non-null  int64
 69  Defending / Pace          353198 non-null  int64
 70  Physical / Positioning    353198 non-null  int64
 71  Traits                    0 non-null       float64
 72  PlayStyles                188678 non-null  object
 73  PlayStyles +              1910 non-null    object
 74  Number of playstyles      353198 non-null  int64
 75  date                      353198 non-null  object
 76  club_name                 345359 non-null  object
 77  start_year                322944 non-null  float64
 78  end_year                  322944 non-null  float64
 79  BaseRating                353198 non-null  int64
 80  LiveForm                  353198 non-null  int64
 81  is_prodigy                353198 non-null  int64
dtypes: float64(3), int64(29), object(50)
memory usage: 221.0+ MB

In [365]:
df.drop('name',axis=1,inplace=True)

In [366]:
df.head(5)

,ID,Age,Potential,Height,Weight,foot,Best overall,Best position,Growth,Joined,...,PlayStyles,PlayStyles +,Number of playstyles,date,club_name,start_year,end_year,BaseRating,LiveForm,is_prodigy
0,239085,22,94,195,94,Left,93,/players?pn=25,3,"Jul 1, 2022",...,Power HeaderQuick Step,Acrobatic +,3,2024-03-27,Manchester City,2022.0,2027.0,91,0,1
1,231747,24,94,182,75,Right,93,/players?pn=25,3,"Jul 1, 2018",...,Finesse ShotRapidFlairTrivelaAcrobaticSolid Pl...,Quick Step +,7,2024-03-27,Paris Saint Germain,2018.0,2024.0,91,0,0
2,192985,32,91,181,75,Right,91,/players?pn=14,0,"Aug 30, 2015",...,Dead BallPinged PassLong Ball PassWhipped Cros...,Incisive Pass +,9,2024-03-27,Manchester City,2015.0,2025.0,91,0,0
3,231866,27,91,191,82,Right,90,/players?pn=10,1,"Jul 4, 2019",...,Long Ball PassBruiserAerialLong Shot Taker (CP...,Power Shot +,6,2024-03-27,Manchester City,2019.0,2027.0,90,0,0
4,202126,29,90,188,85,Right,90,/players?pn=25,0,"Aug 12, 2023",...,Long Ball PassFirst TouchTrivelaLong Shot Take...,Incisive Pass +,5,2024-03-27,nchen,2023.0,2027.0,90,0,0

In [367]:
df.drop('Best position',axis=1,inplace=True)

In [368]:
df['On_loan'] = df['Loan date end'].map(lambda x: 1 if pd.isna(x) else 0)

In [369]:
df['is_ageing star']=((df['Best overall']>=90)& (df['Age']>=30)).astype(int)

In [370]:
df.columns

Index(['ID', 'Age', 'Potential', 'Height', 'Weight', 'foot', 'Best overall',
       'Growth', 'Joined', 'Loan date end', 'Value', 'Wage', 'Release clause',
       'Total attacking', 'Crossing', 'Finishing', 'Heading accuracy',
       'Short passing', 'Volleys', 'Total skill', 'Dribbling', 'Curve',
       'FK Accuracy', 'Long passing', 'Ball control', 'Total movement',
       'Acceleration', 'Sprint speed', 'Agility', 'Reactions', 'Balance',
       'Total power', 'Shot power', 'Jumping', 'Stamina', 'Strength',
       'Long shots', 'Total mentality', 'Aggression', 'Interceptions',
       'Att. Position', 'Vision', 'Penalties', 'Composure', 'Total defending',
       'Defensive awareness', 'Standing tackle', 'Sliding tackle',
       'Total goalkeeping', 'GK Diving', 'GK Handling', 'GK Kicking',
       'GK Positioning', 'GK Reflexes', 'Total stats', 'Base stats',
       'Weak foot', 'Skill moves', 'Attacking work rate',
       'Defensive work rate', 'International reputation', 'Body type',
       'Real face', 'Pace / Diving', 'Shooting / Handling',
       'Passing / Kicking', 'Dribbling / Reflexes', 'Defending / Pace',
       'Physical / Positioning', 'Traits', 'PlayStyles', 'PlayStyles +',
       'Number of playstyles', 'date', 'club_name', 'start_year', 'end_year',
       'BaseRating', 'LiveForm', 'is_prodigy', 'On_loan', 'is_ageing star'],
      dtype='object')

In [371]:
df['is_baller']= ((df['Number of playstyles'] >= 5 )& (df['Skill moves']>=4)).astype(int)

In [372]:
df.drop(['Loan date end','Joined','PlayStyles','PlayStyles +','date'],axis=1,inplace=True)

In [373]:
df['ContractLength']=df['end_year']-df['start_year']

In [374]:
df['ContractExpiring']=(df['ContractLength']<2).astype(int)

In [375]:
df.columns

Index(['ID', 'Age', 'Potential', 'Height', 'Weight', 'foot', 'Best overall',
       'Growth', 'Value', 'Wage', 'Release clause', 'Total attacking',
       'Crossing', 'Finishing', 'Heading accuracy', 'Short passing', 'Volleys',
       'Total skill', 'Dribbling', 'Curve', 'FK Accuracy', 'Long passing',
       'Ball control', 'Total movement', 'Acceleration', 'Sprint speed',
       'Agility', 'Reactions', 'Balance', 'Total power', 'Shot power',
       'Jumping', 'Stamina', 'Strength', 'Long shots', 'Total mentality',
       'Aggression', 'Interceptions', 'Att. Position', 'Vision', 'Penalties',
       'Composure', 'Total defending', 'Defensive awareness',
       'Standing tackle', 'Sliding tackle', 'Total goalkeeping', 'GK Diving',
       'GK Handling', 'GK Kicking', 'GK Positioning', 'GK Reflexes',
       'Total stats', 'Base stats', 'Weak foot', 'Skill moves',
       'Attacking work rate', 'Defensive work rate',
       'International reputation', 'Body type', 'Real face', 'Pace / Diving',
       'Shooting / Handling', 'Passing / Kicking', 'Dribbling / Reflexes',
       'Defending / Pace', 'Physical / Positioning', 'Traits',
       'Number of playstyles', 'club_name', 'start_year', 'end_year',
       'BaseRating', 'LiveForm', 'is_prodigy', 'On_loan', 'is_ageing star',
       'is_baller', 'ContractLength', 'ContractExpiring'],
      dtype='object')

In [376]:
df.drop(['ID','Body type', 'Real face','start_year','end_year','Traits','Pace / Diving',
       'Shooting / Handling', 'Passing / Kicking', 'Dribbling / Reflexes',
       'Defending / Pace', 'Physical / Positioning'],axis=1,inplace=True)

In [377]:
df.drop(['Crossing', 'Finishing', 'Heading accuracy', 'Short passing', 'Volleys', 'Dribbling', 'Curve', 'FK Accuracy', 'Long passing',
       'Ball control','Acceleration', 'Sprint speed',
       'Agility', 'Reactions', 'Balance','Shot power',
       'Jumping', 'Stamina', 'Strength', 'Long shots','Aggression', 'Interceptions', 'Att. Position', 'Vision', 'Penalties',
       'Composure','Defensive awareness',
       'Standing tackle', 'Sliding tackle','GK Diving',
       'GK Handling', 'GK Kicking', 'GK Positioning', 'GK Reflexes','Best overall',],axis=1,inplace=True)

In [378]:
df.drop('Base stats',axis=1,inplace=True)

In [379]:
df['Attacking work rate']=df['Attacking work rate'].replace(['High','Medium','Low'],[2,1,0]).astype(int)

C:\Users\rocki\AppData\Local\Temp\ipykernel_5756\2006380002.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Attacking work rate']=df['Attacking work rate'].replace(['High','Medium','Low'],[2,1,0]).astype(int)

In [380]:
df['Defensive work rate']=df['Defensive work rate'].replace(['High','Medium','Low'],[2,1,0]).astype(int)

C:\Users\rocki\AppData\Local\Temp\ipykernel_5756\917700010.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Defensive work rate']=df['Defensive work rate'].replace(['High','Medium','Low'],[2,1,0]).astype(int)

In [381]:
df.columns

Index(['Age', 'Potential', 'Height', 'Weight', 'foot', 'Growth', 'Value',
       'Wage', 'Release clause', 'Total attacking', 'Total skill',
       'Total movement', 'Total power', 'Total mentality', 'Total defending',
       'Total goalkeeping', 'Total stats', 'Weak foot', 'Skill moves',
       'Attacking work rate', 'Defensive work rate',
       'International reputation', 'Number of playstyles', 'club_name',
       'BaseRating', 'LiveForm', 'is_prodigy', 'On_loan', 'is_ageing star',
       'is_baller', 'ContractLength', 'ContractExpiring'],
      dtype='object')

In [382]:
df['BMI'] = df['Weight'] / ((df['Height'] / 100) ** 2)

In [383]:
df.drop(['Height','Weight'],axis=1,inplace=True)

In [384]:
df['foot']=df['foot'].replace(['Left','left','right','Right'],[0,0,1,1]).astype(int)

C:\Users\rocki\AppData\Local\Temp\ipykernel_5756\3225310287.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['foot']=df['foot'].replace(['Left','left','right','Right'],[0,0,1,1]).astype(int)

In [385]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353198 entries, 0 to 353197
Data columns (total 31 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Age                       353198 non-null  int64
 1   Potential                 353198 non-null  int64
 2   foot                      353198 non-null  int64
 3   Growth                    353198 non-null  int64
 4   Value                     353198 non-null  object
 5   Wage                      353198 non-null  object
 6   Release clause            353198 non-null  object
 7   Total attacking           353198 non-null  int64
 8   Total skill               353198 non-null  int64
 9   Total movement            353198 non-null  int64
 10  Total power               353198 non-null  int64
 11  Total mentality           353198 non-null  int64
 12  Total defending           353198 non-null  int64
 13  Total goalkeeping         353198 non-null  int64
 14  Total stats               353198 non-null  int64
 15  Weak foot                 353198 non-null  int64
 16  Skill moves               353198 non-null  int64
 17  Attacking work rate       353198 non-null  int64
 18  Defensive work rate       353198 non-null  int64
 19  International reputation  353198 non-null  int64
 20  Number of playstyles      353198 non-null  int64
 21  club_name                 345359 non-null  object
 22  BaseRating                353198 non-null  int64
 23  LiveForm                  353198 non-null  int64
 24  is_prodigy                353198 non-null  int64
 25  On_loan                   353198 non-null  int64
 26  is_ageing star            353198 non-null  int64
 27  is_baller                 353198 non-null  int64
 28  ContractLength            322944 non-null  float64
 29  ContractExpiring          353198 non-null  int64
 30  BMI                       353198 non-null  float64
dtypes: float64(2), int64(25), object(4)
memory usage: 83.5+ MB

In [386]:
objectcols=[x for x in df.columns if df[x].dtype=='O']

In [387]:
objectcols

['Value', 'Wage', 'Release clause', 'club_name']

In [388]:
df[objectcols]

          Value   Wage Release clause            club_name
0         €185M  €340K        €356.1M      Manchester City
1       €181.5M  €230K        €349.4M  Paris Saint Germain
2         €103M  €350K        €190.6M      Manchester City
3       €122.5M  €260K        €235.8M      Manchester City
4       €119.5M  €170K        €197.2M                nchen
...         ...    ...            ...                  ...
353193    €110K   €500          €239K            Cork City
353194    €100K   €500          €218K             Shenzhen
353195    €110K   €500          €217K          Mumbai City
353196     €70K    €1K          €123K             Zhejiang
353197    €110K   €500          €217K     NorthEast United

[353198 rows x 4 columns]

In [389]:
import re

def parse_money(val):
    if isinstance(val, str):
        val = val.upper().strip()
        num = re.sub(r'[^\d.]', '', val)
        if 'M' in val:
            return float(num) * 1_000_000
        elif 'K' in val:
            return float(num) * 1_000
        else:
            return float(num)
    return val

In [390]:
for col in ['Value', 'Wage', 'Release clause']:
    df[col + '_EUR'] = df[col].apply(parse_money)

In [391]:
objectcols=['Value', 'Wage', 'Release clause']

In [392]:
df.drop(objectcols,axis=1,inplace=True)

In [393]:
# Define your list of top clubs (you can modify this list)
top_clubs = [
    'Real Madrid', 'Manchester City', 'Paris Saint Germain',
    'Barcelona', 'FC Bayern München', 'Liverpool', 'Chelsea',
    'Arsenal', 'Juventus', 'Inter', 'AC Milan','Ajax'
]

tier2 = ['Napoli', 'Atletico Madrid', 'Dortmund', 'Tottenham']

In [394]:
df['club_tier'] = df['club_name'].apply(
    lambda x: 3 if x in top_clubs else (2 if x in tier2 else 1)
)

In [395]:
df.drop('club_name',axis=1,inplace=True)

In [396]:
df['ContractKnown'] = df['ContractLength'].notnull().astype(int)
df['ContractLength'] = df['ContractLength'].fillna(df['ContractLength'].median())

In [397]:
df.columns

Index(['Age', 'Potential', 'foot', 'Growth', 'Total attacking', 'Total skill',
       'Total movement', 'Total power', 'Total mentality', 'Total defending',
       'Total goalkeeping', 'Total stats', 'Weak foot', 'Skill moves',
       'Attacking work rate', 'Defensive work rate',
       'International reputation', 'Number of playstyles', 'BaseRating',
       'LiveForm', 'is_prodigy', 'On_loan', 'is_ageing star', 'is_baller',
       'ContractLength', 'ContractExpiring', 'BMI', 'Value_EUR', 'Wage_EUR',
       'Release clause_EUR', 'club_tier', 'ContractKnown'],
      dtype='object')

In [398]:
df['value_efficiency'] = df['Value_EUR'] / (df['Total stats'] + df['BaseRating'])

In [399]:
X=df.drop(['Value_EUR'],axis=1)
y=df['Value_EUR']

In [400]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [401]:
X_train.shape,X_test.shape

((247238, 32), (105960, 32))

In [402]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [403]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

def regression_metrics(y_true, y_pred, verbose=True):
    mae = mean_absolute_error(y_true, y_pred)
    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_true, y_pred)

    results = {
        'MAE': mae,
        'MSE': mse,
        'RMSE': rmse,
        'R²': r2
    }

    if verbose:
        print(f"📊 Regression Metrics:")
        print(f"MAE  (Mean Absolute Error)     : {mae:.4f}")
        print(f"MSE  (Mean Squared Error)      : {mse:.4f}")
        print(f"RMSE (Root Mean Squared Error) : {rmse:.4f}")
        print(f"R²   (R-squared)               : {r2:.4f}")

    return results

In [404]:
from sklearn.linear_model import LinearRegression
model1=LinearRegression(n_jobs=-1)
model1.fit(X_train,Y_train)
pred1=model1.predict(X_test)
print(regression_metrics(Y_test,pred1))

📊 Regression Metrics:
MAE  (Mean Absolute Error)     : 305163.3309
MSE  (Mean Squared Error)      : 670144205401.4626
RMSE (Root Mean Squared Error) : 818623.3599
R²   (R-squared)               : 0.9884
{'MAE': 305163.33093524555, 'MSE': 670144205401.4626, 'RMSE': np.float64(818623.359916795), 'R²': 0.9883529813427241}

In [405]:
from sklearn.ensemble import RandomForestRegressor
model2=RandomForestRegressor(n_jobs=-1)
model2.fit(X_train,Y_train)
pred2=model2.predict(X_test)
print(regression_metrics(Y_test,pred2))

📊 Regression Metrics:
MAE  (Mean Absolute Error)     : 558.8614
MSE  (Mean Squared Error)      : 237625447.1263
RMSE (Root Mean Squared Error) : 15415.1045
R²   (R-squared)               : 1.0000
{'MAE': 558.8613627784069, 'MSE': 237625447.12627408, 'RMSE': np.float64(15415.10451233705), 'R²': 0.9999958701008025}

In [406]:
    pip install xgboost

Requirement already satisfied: xgboost in c:\users\rocki\ml\venv\lib\site-packages (3.0.2)
Requirement already satisfied: numpy in c:\users\rocki\ml\venv\lib\site-packages (from xgboost) (2.2.2)
Requirement already satisfied: scipy in c:\users\rocki\ml\venv\lib\site-packages (from xgboost) (1.15.3)
Note: you may need to restart the kernel to use updated packages.

In [407]:
import xgboost as xgb
from xgboost import XGBRegressor

In [408]:
model = XGBRegressor(objective='reg:squarederror', n_estimators=100, learning_rate=0.1)

In [409]:
model.fit(X_train,Y_train)
pred3=model.predict(X_test)
print(regression_metrics(Y_test,pred3))

📊 Regression Metrics:
MAE  (Mean Absolute Error)     : 31496.8725
MSE  (Mean Squared Error)      : 17174523331.5512
RMSE (Root Mean Squared Error) : 131051.6056
R²   (R-squared)               : 0.9997
{'MAE': 31496.872496262546, 'MSE': 17174523331.551174, 'RMSE': np.float64(131051.6056046288), 'R²': 0.9997015090303548}